{% extends "index.html" %} {% block title %}Chest{% endblock %}
<!DOCTYPE html>
<html>

{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABS <SECTION></SECTION></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forearm.css') }}">
</head>
<body>
 
           


    <h1>ABS WORKOUT</h1>

    <img src="static/img/abs_BGG.jpg" alt="chess img background" class="chest">
    <h1>Body</h1>
    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/abs__EX__1.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="static/videos/abs_ex_2.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/abs__ex__3.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

 
    
    
</body>
</html>
{%endblock%}
