{% extends "index.html" %} {% block title %}Chest{% endblock %}
<!DOCTYPE html>
<html>

{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALVES WORKOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forearm.css') }}">
    
</head>
<body>
    <header><div class="menu">
        <!-- <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/legs/hamstringBODY.html';">Body</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/legs/calves.html';">Dumbell</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/legs/hamstringSTR.html';">Streaching</button> -->
        
    </div></header>
    <h1>LEGS SECTION</h1>

    <img src="static/img/legsBGG.jpg" alt="chess img background" class="chest">

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/calf.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="static/videos/calves_str.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/legs_str_2.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="">errorrr</video>
    </div>
    
    
    
</body>
</html>
{%endblock%}