{% extends "index.html" %} {% block title %}Base{% endblock %}


{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {%for note in user.notes%}
    <li class="list-group-item">{{note.title}}
        <button type="button" class="btn-close" onClick="deleteNote({{note.id}})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {%endfor%}
</ul>
<form method="post">
    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add to Note</button>
    </div>
</form>
{% endblock %}
