
{% extends "index.html" %} {% block title %}Chest{% endblock %}
<!DOCTYPE html>
<html>

{%block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEST WORKOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chest.css') }}">
</head>

<body>
    <header>
        <div class="menu">
           

        </div>
    </header>
    <h1>CHEST SECTION</h1>
    
    <img src="static/img/chest.jpg" alt="chess img background" class="chest">
    <h1>Barbell/Machines</h1>

    <div class="steps-list mb-2 ml-3" style="margin: 4rem 0 1rem;">
        <video autoplay controls loop src="static/videos/chesttbarbell4.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls loop src="static/videos/chest__ex__2.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls loop src="static/videos/chest_dips.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls loop src="static/videos/chest_fly__ex__3.mp4">errorrr</video>
    </div>
    <br><br>
    <h1>Dumbell</h1>
    

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video  autoplay controls loop  src="static/videos/hindu_pushups.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls loop src="static/videos/pushups.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls loop src="static/videos/inclinepushups.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
       
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls loop src="static/videos/declinepushups.mp4">errorrr</video>

    </div>
    <h1>Streching</h1>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls loop src="static/videos/chest_str.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls loop src="static/videos/chest_str2.mp4">errorrr</video>
    </div>








</body>

</html>
{%endblock%}