{% extends "index.html" %} {% block title %}Chest{% endblock %}
<!DOCTYPE html>
<html lang="en">
{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOULDER WORKOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shoulder.css') }}">
</head>
<body>
    <header><div class="menu">
        <!-- <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/shoulders/shouldersBODY.html';">Body</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/shoulders/shoulders.html';">Dumbell</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/shoulders/shoulderSTR.html';">Streaching</button>
         -->
    </div></header>
    <h1>SHOULDER SECTION</h1>

    <img src="static/img/shouldeer_BGG.jpg" alt="chess img background" class="chest">
    <h1>Barbell/Machines</h1>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/sholdeer_press_ex.mp4">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="static/videos/side_lateral__ex.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="">errorrr</video>
    </div>
    <br>
    <h1>Body</h1>
    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="">errorrr</video>
       <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
       </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="">errorrr</video>
    </div>
    
    
    
</body>
</html>


{%endblock%}