{% extends "index.html" %} {% block title %}Chest{% endblock %}
<!DOCTYPE html>
<html>

{%block content%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRICEPS WORKOUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forearm.css') }}">
</head>

<body>
    <header>
        <div class="menu">
            <!-- <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/triceps/tricepsBODY.html';">Body</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/triceps/triceps.html';">Dumbell</button>
        <button type="submit" onclick="window.location.href= 'http://127.0.0.1:5500/triceps/tricepsSTR.html';">Streaching</button> -->

        </div>
    </header>
    <h1>TRICEPS SECTION</h1>

    <img src="static/img/triceps_BGG.jpg" alt="chess img background" class="chest">
    <h1>Machines/Barbells</h1>
    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/triceps_extension.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="static/videos/triceps_STR.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="static/videos/TRYCEPS_PUSHUP.mp4">errorrr</video>
    </div>
    <br>
    <h1>Body</h1>
    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="static/videos/TRYCEPS_PUSHUP.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="chest__ex__2.mp4">errorrr</video>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <video autoplay controls src="chest_dips.mp4">errorrr</video>
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
    </div>

    <div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
        <div class="info">
            <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
            <li>Lower the bar to your mid chest</li><br>
            <li>Raise the bar until you've locked your elbows.</li><br>
            <li>Lorem ipsum dolor sit amet.</li>
        </div>
        <video autoplay controls src="chest_fly__ex__3.mp4">errorrr</video>
    </div>
    <br>
    <h1>Streching</h1>


</body>
<div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
    <video autoplay controls src="static/video/triceps_STR.mp4">errorrr</video>
    <div class="info">
        <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
        <li>Lower the bar to your mid chest</li><br>
        <li>Raise the bar until you've locked your elbows.</li><br>
        <li>Lorem ipsum dolor sit amet.</li>
    </div>
</div>

<div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
    <div class="info">
        <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
        <li>Lower the bar to your mid chest</li><br>
        <li>Raise the bar until you've locked your elbows.</li><br>
        <li>Lorem ipsum dolor sit amet.</li>
    </div>
    <video autoplay controls src="">errorrr</video>
</div>

<div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
    <video autoplay controls src="">errorrr</video>
    <div class="info">
        <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
        <li>Lower the bar to your mid chest</li><br>
        <li>Raise the bar until you've locked your elbows.</li><br>
        <li>Lorem ipsum dolor sit amet.</li>
    </div>
</div>

<div class="steps-list mb-2" style="margin: 4rem 0 1rem;">
    <div class="info">
        <li>Lay flat on the bench with your feet on the ground. With straight arms unrack the bar.</li><br>
        <li>Lower the bar to your mid chest</li><br>
        <li>Raise the bar until you've locked your elbows.</li><br>
        <li>Lorem ipsum dolor sit amet.</li>
    </div>
    <video autoplay controls src="">errorrr</video>
</div>

</html>
{%endblock%}