
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f3dfdf;
}

.container {
    max-width: 800px;
    margin: 7% auto;
    padding: 20px;
    /* border:2px solid white; */

}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}


form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f9f9f9;
    padding: 10px 0;
    text-align: center;
}

.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    margin-right: 0px ;
    margin-top: 0;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 0;
}

.social-icon:hover {
    box-shadow: #242222;
    
}

.social-icon i {
    font-size: 20px;
}


